
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
border: 10px solid black;
background-color: rgb(255, 255, 255);
}
